
.container_searchBar{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    width: 95%;
    margin: 10px auto 0;
    height: fit-content;
    background: #fff;
    justify-items: center;
    place-items: center;
    border-radius: 20px;
    padding: 8px 0px;
    
}

.container_searchBar_inputContainer{
    width: 100%;
    display: flex;
}

.container_searchBar_input{
    width: 95%;
    border: none;
    outline: none;
    font-size: 4vw;
}
.container_searchBar_icon{
    border-radius: 100%;
   
}

.container_searchBar{
    background-image: '/assets/png/filtro.png';
}
.container_searchBar_filterContainer{
    padding: 5px 6px;
    border-left: .2px solid #000;
}
.container_searchBar_filterIcon{
    width: 60%;
    height: 60%;
}