.modal_ShoppingCart_container{
position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 2;
  display: flex;
  animation-fill-mode: forwards;
  background-color: var(--background-componets);
  backdrop-filter: blur(4px);
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.modal_ShoppingCart_container_info{
    /* background-color: #1E2229dd; */
    background-color: var(--backgroundModal);
    max-height: 70vh;
    min-height: 50%;
     /* backdrop-filter: blur(10px); */
    width: 90%;
    animation: animationModal 0.3s;
    border: 1px solid var(--blueVecii);
    padding: 10px 0 10px;
    border-radius: 25px;
    color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.modal_ShoppingCart_container_info_head{

    width: 90%;
    
    margin: 10px auto;
    position: relative;
}
.productStore_container_line{
    background-color: #fff;
    width: 100%;
    height: 1px;
}
.modal_ShoppingCart_container_info_head button{
    background-color: transparent;
    border: none;
    font-size: clamp(20px, 6vw, 35px);
    color: var(--blueVecii);
    display: flex;
    margin: auto;
    position: absolute;
    top: 0;
    right:10px ;
}
.modal_ShoppingCart_container_list{
    width: 100%;
    display: flex;
    /* height: 100%; */
    scrollbar-width: thin;
    scrollbar-color: var(--aquaMarineBackground) var(--blueVecii);
    overflow: auto;
    flex-direction: column;
    gap: 10px;
}
.modal_ShoppingCart_container_info_title{
    width: 100%;
    text-align: center;    
    font-size: clamp(16px,5vw,25px);
    color: #fff;
}
.modal_ShoppingCart_container_product{
    width: 95%;
    display: flex;
    background-color: transparent;
    /* border: 1px solid var(--blueVecii); */
    border-radius: 10px;
    gap: 5px;
    padding: 2vw ;
    color: #fff;
    flex-direction: column;
    margin: 0 auto;
      font-size: clamp(11px,3.8vw,22px);
}

.modal_ShoppingCart_container_nameP span{
    width: 100%;
    /* background-color: #fff; */
    padding: 3px 5px;
    color: #fff;
    border-radius: 7px;
}
.productStore_container_buy_amount{
    display: flex;
       background: linear-gradient(90deg, #9af4ff 0%, #d8a9ff 100%);
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: clamp(25px,30px,40px);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-weight: bold;
    padding: 0 1vw  ;
    color: #000;
    
}
.productStore_container_buy_amount p{
    color: #000;
}
.productStore_container_btn{
    background-color: transparent;
    height: fit-content;
    border: none;
    width: fit-content;    
    display: flex ;
    align-items: center;
    color: #000;
    font-size: clamp(22px,6vw,26px);
}
.modal_ShoppingCart_container_items{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    align-items: center;
}
.productStore_container_TotalPrice{
    width: 95%;
    bottom: 0;
    padding: 10px 0;
    height: auto;
    display: flex;
    justify-content: end;
    flex-direction: column;
    align-items: start;
    gap: 2vw;
    /* background-color: red; */
}