.container_inputDate{
  display: grid;
    grid-template-columns: 35% 55% 10%;
    align-items: center;
    height: fit-content;
  font-weight: bolder;

  color: #fff;
  width: 90%;
  margin: 0 auto;

}
.container_inputDate div input{
 font-size:clamp(10px, 3.8vw, 16px);
 

}
.container_inputDate span{
    font-size: 5vw;
    color: var(--blueVecii);
    display: flex;
        width: fit-content;

    justify-self: flex-end;
}
.container_inputDate_label{
    font-size: clamp(12px, 4.2vw, 20px);
}