.container_optionChat{
    width: 100%;
    height: 12vh;
    min-height: 70px;
    display: grid;
    background-color: var(--background-componets);
    backdrop-filter: blur(10px);
    grid-template-columns: 20% 70% 10% ;
    margin: 10px auto;
    align-items: center;
    border: 1px solid var(--blueVecii);
    padding: 15px;
    border-radius: 25px;
    overflow: hidden;
}
.container_optionChat_img{
    width: clamp(30px,70%,50px);
    aspect-ratio: 1/1;
    overflow: hidden;
    border-radius: 50%;
    outline: 2px solid var(--aquaMarineBackground);
    outline-offset: 1px;
}
.container_optionChat_img img{
    display: inline-block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.container_optionChat_info{
    justify-self: flex-start;

    display: inline-block;
    width: 100%;
}
.container_optionChat_paragraphe{
    color: #fff;
    font-size: clamp(12px,4vw,18px);
    width: 100%;
       overflow: hidden;
   text-overflow: ellipsis;
}
.container_optionChat_description{
    color: #aaa;
   font-size: clamp(11px,3.8vw,16px);
   overflow: hidden;
   text-overflow: ellipsis;

   display: inline-block;
   width: 100%;
}
.container_optionChat_btn{
    filter: invert(100%);
    scale: .8;
    align-self: flex-end;
}
