.container_questionPQR{
    background-color: var(--background-componets);
    margin: 30px auto;
    width: 90%;
    border-radius: 25px;
    height: fit-content;
    padding: 20px;
}
.container_questionPQR span{
    color:var(--blueVecii);
    font-size: clamp(30px,15vw,40px);
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}
.container_questionPQR_lineSeparator{
    width: 90%;
    padding: 1px;
    background-color: #fff;
    margin:20px auto;

}
.container_questionPQR_title{
    color: #fff;
    font-weight: bold;
    text-wrap: balance;
    text-align: center;
}
.container_questionPQR_paragraphe{
    color: #fff;
    
}