.container_orderFood_Head{
    height: 25dvh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    justify-content: center;
    border-radius: 0 0 25px 25px;
    /* border-bottom: 1px solid var(--aquaMarineBackground); */
}
.container_orderFood_Head_img{
    height: 15dvh;
    width: auto;
    border-radius: 12px;
}
.container_orderFood_Head_info{
    color: #fff;
    display: flex;
    padding: 5px;
    gap: 5px;
    align-items: center;
}
.container_orderFood_Head_title{
    font-weight: bolder;
}
.container_orderFood_chat{
    width: 80%;
    height: 50dvh;
    display: grid;
    grid-template-rows:90% 10% ;
    align-items: center;
    border-radius: 25px;
    /* border: 1px solid var(--aquaMarineBackground); */
    /* box-shadow: 0px 0px 5px 3px var(--aquaMarineBackground); */
    background-color: var(--background-componets);
    padding: 15px 5px;

    margin: 20px auto;
}