.userHeader_component {
    
    width: 100%;
    display: grid;
    grid-template-columns:30% 70% ;
    backdrop-filter: blur(10px);
    justify-items: center;
    align-content: center;
    background-color: var(--backgrounColor);
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 2vw 0px;
    /* border-bottom: 1px solid var(--blueVecii); */
    /* box-shadow: 0px 0px 8px 1px var(--aquaMarineBackground); */
    
}

.userHeader_component_imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: clamp(50px,22vw,90px);
    position: relative;
    height: fit-content;
    align-self: center;
    position: relative;
}
.usename_exclamation{
    color: #fff;
   
}
.userHeader_component_imgUser {
    width: 100%;
    border-radius: 50%;
   
}

.userHeader_component_info {
    width: 95%;
    display: flex;

    flex-direction: column;
   padding: 0px 1vw;

}

.userHeader_component_userName {
    color: white;
    /* margin-bottom: 10px; */
    font-size: clamp(16px,7vw,40px);
    text-wrap: balance;
}

.userHeader_component_complexName {
    color: grey;
      display: -webkit-box;
    -webkit-line-clamp: 2;      
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: clamp(14px,3.8vw,20px);
    hyphens: auto;
    overflow-wrap: break-word;
    word-break: break-word;
}

.userHeader_component_detailComplex {
    color: white;
    font-size: clamp(14px,3.8vw,20px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.userHeader_component_sign-out {
    outline: transparent;
    background-color: #000;
    border: none;
    position: absolute;
    padding: 5px;
    right: -8;
    top: 0;
    border-radius: 50%;
}
/* @media (max-width: 320px ) {
    .userHeader_component_sign-out{
         right: 1px;
         top: 10px;
    }
} */
 /* .userHeader_component_imgUser::after,.userHeader_component_imgUser::before{
    content: '';
    width: 100%;
    position: absolute;
    height: 100%;
    background-color: red;
    padding: 10px;

 } */