.container_paymentAdmin{
    display: grid;
    grid-template-columns: 40% 50% 10%;
    place-items: center;
    justify-content: center;
    width: 90%;
    position: relative;
    border-bottom: solid 2px grey;
    height: 100px;
}

.container_paymentAdmin_month{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    height: 100%;
    padding: 0px 10px;
    gap: 10px;
}

.paymentAdmin_month{
    font-size: 5vw;
    color: white;
    font-weight: 600;
}

.paymentAdmin_value{
    color:white;
    font-size: 3.5vw;
    border-radius: 20px
}

.container_paymentAdmin_status{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.paymentAdmin_status{
    display: flex;
    justify-content: center;
    align-items: center;
    width: max-content;
    height: 25px;
    gap: 10px;
}

.paymentAdmin_status_div{
    width: 15px;
    height: 15px;
    border-radius: 50px;
    background-color: white;
}

.paymentAdmin_status_description{
    color: white;
}

.paymentAdmin_date{
    font-size: 4vw;
    color: white;
    font-weight: 600;
}

.container_paymentAdmin_arrow{
    display: flex;
}

.container_paymentAdmin_arrow img{
    width: 30px;
    transform: rotate(180deg);
}