.optionMenu_header{
    height: 100%;
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.optionMenu_header img{
    height: 30%;
    width: auto;
    
    filter: drop-shadow(0px 0px 1px #fff);
    
}

.optionMenu_header p{
    
    font-size: clamp(8px,3vw,12px);
    color: #fff;
    font-weight: bold;
}