
.container_newRegister_input {
    display: grid;
    grid-template-columns:12% 35% 53% ;
    align-items: center;
    height: fit-content;
  font-weight: bolder;
  width: 90%;

}

.container_newRegister_input-items{
    font-size: clamp(12px,4vw,18px);
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    height: auto;
    align-items: center;
    padding: 10px  ;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    width: 100%;
    background-color: #fff;
}
.container_newRegister_input-icon{
    font-size: clamp(12px,4vw,18px);
    color: var(--blueVecii);
    display: flex;
    align-items: center;
}
.container_newRegister_input-imgIcon{
    display: flex;
    justify-content: flex-start;
   /* background-color: red; */
}
.container_newObject_input-items{
    color: #fff;
    font-weight: bold;
    font-size: 4vw;
}
.container_newRegister_input-items input{
    background-color: transparent;
    border:none;
    border-radius: 10px;
    color: #777;
    padding: 0px 5px ;
    width: 100%;
      font-size:clamp(10px, 3.8vw, 16px);
    height: fit-content;
}
.container_newRegister_input-items input::placeholder{
    color: #777;
   font-size:clamp(10px, 3.8vw, 16px);
}
.container_newRegister_input-items input:hover{
    outline: none;
}
.container_newRegister_input-items input:focus{
    outline: none;
    color:#000
}
.container_newRegister_dateLabel{
    color: #fff;
    font-size: clamp(12px,4vw,18px);
    /* background-color: red; */
    align-self: center;
        hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}