
.container_form_pet{
    width: 100%;
     margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    color: #fff;
    height: auto;
    background-color: var(--background-componets);
    border-radius: 30px;
    padding: 40px 0;
}
.container_form_pet_selects{
    width: 90%;
    display:grid ;
    grid-template-columns: 10% 90%;
    height: fit-content;
}
.container_form_pet_containerSelect{
   display: flex;
    width: 100%;
    align-items: center;
    justify-content: start;
    padding: 5px 10px;
  
    border-radius:10px ;
    gap: 15px;
    color: #fff;
    font-weight: bold;
    font-size: 4vw;
}
.container_form_pet_select{
    font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px  ;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    width: fit-content;
    background-color: #fff;
}
.container_form_pet_selects span{
    font-size: 5vw;
    color: var(--blueVecii);
    display: flex;
    align-items: center;
}
.container_form_btn{
     font-size: 5vw;
  width: 60%;
  height: auto;
  padding: 20px  10px;
  background-color: var(--aquaMarineBackground);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}
.container_form_pet_title{
    background:linear-gradient( 90deg, #a141e0ff, #49ebd5ff);
    background-clip: text;
    color: transparent;
    margin: 0 auto 10px ;
    font-weight: bolder;
    font-size: 7vw;
}
.container_form_pet_select::placeholder{
    color: #aaa;
    font-size: 4vw;
}
.container_form_pet_select :hover{
    outline: none;
}
.container_form_pet_select:focus{
    outline: none
}
.container_form_pet_selects_breed{
    animation: animationBreed .1s;
}
@keyframes animationBreed {
    0%{
        scale: .9;
        opacity: 0;
    }100%{
        scale: 1;
        opacity: 1;
    }
}