.container_infoUser {
    width: 90%;
    height: fit-content;
    margin: 20px auto 20px;
    background-color: var(--background-componets);
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;

    padding: 15px 0 40px;
    font-size:3.8vw ; /*TAMAÑO CORRESPONDE  A 14PX */
}

.container_infoUser_title {
    color: white;
    font-weight: 600;
    margin: 20px 0px;

}
.load_infoUser{
    color: #fff;
    font-size: 5vw;
}
.container_infoUser_avatar {
    width: 23vw;
    height: auto;
    border-radius: 50%;
    outline: 2px solid var(--aquaMarineBackground);
    margin: auto;
    outline-offset: 3px;
}

.container_infoUser_patch {
    width: 90%;
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    border-radius: 12px;
    color: white;
    
}

.btn_Edit_infoUSer {
  font-size: 5vw;
  width: 60%;
  height: auto;
  padding: 20px  10px;
  background-color: var(--aquaMarineBackground);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  animation: btnUserUpdate .6s;
}
@keyframes btnUserUpdate {
    0%{
        opacity: 0;
    }100%{
        opacity: 1;
    }
}
.btn-form{
  margin: 30px 0 20px;
}