.veciiHeaderComponent {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: var(--backgrounColor);
    backdrop-filter: blur(20px);
    height: max-content;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    padding: 20px 0px 20px 0px;
    /* box-shadow: var(--shadowBoxBlue) */
}

.container_identity_component {
    max-width: 60%;
    display: flex;

    align-items: center;
   

    justify-content: center;
    height: 100%;
    gap: 3vw;
}

.container_identity_componentImg {
    width:clamp(30px,16vw,80px);
    margin: 0 auto;
    border-radius: 14px;    
}

.container_identity_componentP {
    text-align: center;
    width: 100%;
    color: white;
    font-weight: 600;
    font-size: clamp(16px,5.5vw,35px);
    
    /* background-color: red; */
            hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
 
    /* margin-top: 10px; */
}