.container_directoryNumber {
    width: 100%;
    height: 70px;
    background-color: var(--background-componets);
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-items: center;
    border-radius: 50px;
}

.container_directoryNumber_icons {
    width: 70%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.container_directoryNumber_img {
    width: 35px;
}

.container_directoryNumber_namedirectory {
    color: white;
    font-weight: 600;
    font-size: 4.5vw;
}

.container_directoryNumber_number {
    background-color: white;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
    color: black;
    padding: 5px 10px;
    border-radius: 50px;
    font-size: 3.5vw;
    font-weight: 600;
}

.container_directoryNumber_number span {
    font-weight: 600;
    border: solid black 1px;
    padding: 1px 5px;
    border-radius: 50%;
    background-color: var(--background-componets);
    color: white;
}