.container_section_stores{
    width: 100%;
    
    display: grid;
    grid-template-columns:40% 60%;
    border-radius: 10px;
    /* overflow: hidden; */
    /* background-color: var(--background-componets); */
    height: 80px;
    /* aspect-ratio: 5/1.5; */
    
  
}
.container_section_stores_image{
    width:100%;
    overflow: hidden;
    height: 100%;
    border-radius: 10px 0 0 10px;
    display: flex;
    align-items: center;
}
.container_section_stores_image img{
    object-fit: cover;
    display: inline-block;
    width: 100%;
    height: auto;
}
.container_section_stores_infoStore{
    display: flex;
    flex-direction: column;
    border-radius: 0;
    padding: 1vw ;

}
.container_section_stores_nameStore{
 font-size: clamp(12px,4vw,20px);
    color: #fff;
    font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
}
.container_section_stores_timeGrade{
    display: flex;
    flex-direction: column;
    text-wrap: balance;
    font-size: 0.7em;
     font-weight: bolder;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #aaa;
}

