.products_list_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vw;
    width: 95%;
    margin:10px auto 20px;

}
.products_list_container_title{
    color: #fff;
    font-size: clamp(25px,6vw,35px);
    text-align: center;
}

.products_container_main{
    width: 95%;
    margin: 10px auto;
}
.products_list_container_name-catalog{
    font-size:clamp(20px,5vw,30px) ;
    color: #fff; 
}
.shopping_cart{
    background-color: var(--blueVecii);
    border-radius: 50%;
    width: fit-content;
     position: fixed;
    padding: 5px;
    height: fit-content;
    display: flex;
    align-items: center;
    right: 20px;
    bottom: 15vh;
}

.shopping_cart button{
    background-color: transparent;
    border-radius: 50%;
    border: none;
    padding: 5px;
    display: flex;
   position: relative;
    align-items: center;
}
.shopping_cart button:focus{
    outline: transparent;
}
.shopping_cart_cont{
    position: absolute;
    background-color: #fff;
    padding: 3px;
    right: 0;
    top: -8px;
    height: 24px;
    width: 24;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(12px,3.5vw,16px);
    border-radius: 50%;
}