.products_list_container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 2vw;
    width: 95%;
    margin:10px auto 20px;

}
.products_list_container_title{
    color: #fff;
    font-size: clamp(25px,6vw,35px);
    text-align: center;
}

.products_container_main{
    width: 95%;
    margin: 10px auto;
}
.products_list_container_name-catalog{
    font-size:clamp(20px,5vw,30px) ;
    color: #fff; 
}
.product_shopping_cart{
    border-radius: 50%;
    width: clamp(50px,15vw,85px);
    background-color: red;
    height:clamp(50px,15vw,85px) ;
    position: fixed;
    display: flex;
    align-items: center;
    right: 20px;
    bottom: 15vh;
}

