.container_infoUser_patch_info {
    display: grid;
    grid-template-columns: 25% 62% 13%;
    width: 100%;
    border-radius: 10px;
    height: fit-content;
    align-items: center;
}

.container_infoUser_patch_info input {
    font-size: clamp(12px, 3.8vw, 18px);
    font-family: Arial, Helvetica, sans-serif;
    padding: 5px 8px;
    display: flex;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #777;
    width: 100%;
    background-color: #fff;
}

.container_infoUser_patch_info input::placeholder {
    color: #fff;
}

.container_infoUser_patch_label {
    color: #fff;
    font-size: clamp(12px, 4.2vw, 20px);
    text-wrap: balance;
        hyphens: auto;
  overflow-wrap: break-word;
  word-break: break-word;
}

.container_infoUser_patch_info input:focus {
    color: #000;
    outline: 1px solid var(--aquaMarineBackground);
}

.container_infoUser_patch_edit {
    font-size: clamp(12px, 4vw, 18px);
    justify-self: flex-end;
    color: var(--aquaMarineBackground);
    background-color: transparent;
    border: none;
}

