.container_chats {
  flex-direction: column;
  height: 95%;
  min-height: 450px;
  align-items: center;
  width: 90%;
  margin: 10px auto;
  position: relative;
  border-radius: 25px;
  padding: 10px 8px;
  display: flex;
  justify-content: space-between;
}

.container_chats::before {
  content: '';
  position: absolute;
  border-radius: 25px;
  width: 100%;
  height: 100%;
  background-color: var(--backgroundBlur);
  backdrop-filter: blur(4px);
  z-index: -4;
}

.container_chats_sendMessage {
  display: flex;
  width: 95%;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.container_chats_sendMessage_input {
  width: 100%;
  border: none;
  background-color: #06060c;
  height: 30px;
  border-radius: 20px;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
}

.container_chats_sendMessage_input input {
  width: 100%;
  color: #fff;
  padding: 0 10px;
  border-radius: inherit;
  height: 100%;
  border: none;
  background-color: transparent;
}

.container_chats_sendMessage_input input:focus {
  outline: transparent;
}

.container_chats_gridConversation {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 10px 0 0;
  gap: 5px;
  overflow: auto;
  padding: 5px 10px;
  scrollbar-width: thin;
  scrollbar-color: var(--aquaMarineBackground) var(--blueVecii);
}

.container_chats_messages-message_time {
  color: #aaa;
  font-size: 3vw;
}

.container_chats_messages_mine {
  width: fit-content;
  height: auto;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 3px;
  align-self: end;
}

.container_chats_messages-message_text {
  text-wrap: balance;
}

.container_chats_messages-message_mine {
  background-color: #fff;
  width: fit-content;
  max-width: 100%;
  border-radius: 10px 10px 0 10px;
  padding: 5px 10px;
  font-size: 3.8vw;
}

.container_chats_messages_transmitter {
  width: fit-content;
  display: flex;
  flex-direction: column;
  gap: 3px;
  align-self: start;
  align-items: start;
  max-width: 70%;
  font-size: 3.8vw;
}

.container_chats_messages-message_transmitter {
  background-color: var(--aquaMarineBackground);
  width: fit-content;
  display: flex;
  position: relative;
  color: #333;
  max-width: 100%;
  border-radius: 10px 10px 10 0px;
  padding: 5px 10px;
  font-size: 3.8vw;
}

.container_chats_sendMessage_input::before,
.container_chats_sendMessage_input::after {
  content: '';
  position: absolute;
  background: linear-gradient(90deg, #a141e0dd, #49ebd5dd);
  width: 100%;
  height: 100%;
  padding: 1px;
  z-index: -2;
  border-radius: 20px;
  background-size: 250% 250%;
  animation: moveGradientMessage 6s infinite;
}

.container_chats_sendMessage_btn {
  background-color: transparent;
  border: none;
}

.container_chats_sendMessage_btn:focus {
  outline: transparent;
}

.container_chats_sendMessage_input::after {
  z-index: -1;
  filter: blur(3px);
}

.container_chats_info {
  display: grid;
  grid-template-columns: 15% 70% 10%;
  align-items: center;
  width: 100%;
  padding: 3vw 0;
}

.container_chats_info_img_back {
  width: clamp(40px, 7vw, 60px);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}
.container_chats_info_img_back img{
  width: 100%;
}
.container_chats_info_img {
  width: clamp(30px, 6vw, 50px);
  aspect-ratio: 1/1;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
}

.container_chats_info_img img {
  width: 100%;
}

.container_chats_info_paragraphe {
  color: #fff;
  justify-self: start;
  font-size: 4.2vw;
  width: 100%;
}

.container_chats_info_back {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 3vw 0;
  gap: 1vw;
}

.container_chats_info_back_img {
  filter: invert(1);
  width: clamp(22px, 4.2vw, 28px);
}

.container_chats_info_back_btn {
  background-color: transparent;
  border: none;
}

.container_chats_info_back_btn:focus {
  outline: none;
}

@keyframes moveGradientMessage {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}