:root {
  --backgrounColor: #00000091;
  --blueVecii: #3DFFE5;
  --aquaMarineBackground: #5CC6B2;
  --background-componets: #1e222962;
  --shadowBoxBlue: 0px -15px 25px var(--aquaMarineBackground);
  --fontColorGradient : linear-gradient(275deg, blueViolet, cyan, blueViolet,cyan);
  --backgroundBlur: #ebf3ff10;
  --backgroundBlurComps: #1b202b7c;
  --backgroundModal:#1E2229dd
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: mainFont;
}

body {
  width: 100%;
 background-image: 
    linear-gradient(#0008, #0008),
    url('/assets/video/backgroundVeciiGif.gif');
  background-size: cover;
  background-attachment: fixed;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #030408;
  position: relative;
}
/*BEFORE*/

/*Layout Inicial*/
.main_vecii {
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  position: relative;
  
}
.background_video{
  position: fixed;
  width: 100vw;
  height: 100dvh;
  object-fit: cover;
  z-index: -999;
  opacity: .6;
}
/*Layout usuario*/
.main_vecii_layout {
  width: 100%;
  min-height: 90vh;
  height: max-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  place-content: start;
}

.main_vecii_menu {
  width: 100%;
  height: 10vh;
  background-color: var(--backgrounColor);
  backdrop-filter: blur(20px);
  border-radius: 10px 10px 0 0;
  /* border-top:1.5px  solid var(--blueVecii); */
   /* border-top:2px  solid #fff; */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  position: fixed;
  bottom: 0;
  /* box-shadow: 0px 0px 25px 1px var(--blueVecii); */
  z-index: 1;
}

.main_vecii_menu_space {
  width: 100%;
  height: 10vh;
  margin-top: 20px;
}