.container_newObject {
    width: 90%;
    height: max-content;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px 0;
    border-radius: 30px;
       background-color: var(--backgroundBlur);
    backdrop-filter: blur(4px);
}

.container_newObject_title {
      background:linear-gradient( 90deg, #a141e0ff, #49ebd5ff);
    background-clip: text;
    color: transparent;
    font-weight: 600;
    font-size: clamp(24px,6vw,32px);
    margin: 20px 0;
}
.newIncome_testArea {
  display: grid;
  grid-template-columns: 10% 90%;
  width: 90%;

}
.newIncome_testArea textarea{
    resize: none;
    background-color: #fff;
    color: #000;
    height: 15vw;
    border-radius: 10px;
    border: none;
    padding: 5px;
    font-size: 4vw;
}
.newIncome_testArea textarea:focus{
    outline: none;
}
.newIncome_testArea_icon{
    display: flex;

    font-size: 5vw;
    color: var(--blueVecii)
}
.container_newObject_form{
    width: 100%;
    margin: 0 auto;
    border: none;
    outline: none;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size:clamp(16px,4.5vw,18px);
}
.separator_newObject {
    width: 90%;
    height: 2px;
    background-color: rgb(198, 198, 198);
    border-radius: 20px;
    margin: 0px 0 20px;
}

.container_newObject_inputs_btn{
  font-size: clamp(16px,5vw,20px);
  width: 60%;
  height: auto;
  padding: 10px;
  background-color: var(--aquaMarineBackground);
  color: white;
  border-radius: 20px;
  border: none;
  cursor: pointer;
   margin: 20px 0 20px;
}
