.container_btnSeeMore{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.container_btnSeeMore_btn{
    color: #fff;
    font-size: 5vw;
    font-weight: bolder;
    background: none;
    border: none;
}