.container_grid_PQRSelected{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    gap: 10px;
    margin: 20px auto;
}
.container_grid_PQRSelected_items{
    display: flex;
    flex-direction: column;
    width: 90%;
    padding: 20px;
    /* border: 1px solid var(--blueVecii); */
    background-color:var(--backgroundBlur);
    backdrop-filter: blur(4px);
    border-radius: 25px;
    gap: 10px;
}
.container_grid_PQRSelected_title{
    font-size: 8vw;
    color: #fff;
    text-align: center;
}
.container_grid_PQRSelected_subject{
    color: #fff;
    font-weight: bolder;
}
.container_grid_PQRSelected_info{
    display: grid;
    grid-template-columns: 70% 30%;
     font-size: clamp(12px,3.8vw,16px);
}
.container_grid_PQRSelected_subject{
    text-wrap: balance;
}
.container_grid_PQRSelected_date{
   font-size: clamp(12px,3.8vw,16px);
    color: #aaa;
    font-weight: bold;
}
.container_grid_PQRSelected_description{
    text-wrap: balance;
    color:#000;
    font-size: clamp(12px,3.8vw,16px);
    background-color: #fff;
    width: fit-content;
    padding: 3px 5px;
    border-radius: 15px;
}
.container_grid_PQRSelected_caseNumber{
    color: var(--aquaMarineBackground);

}
.container_grid_PQRSelected_case{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.container_grid_PQRSelected_separator{
    width: 100%;
    padding: 1px;
    background-color: #fff;
    height: 1px;
}
.container_grid_PQRSelected_history{
    font-weight: 4vw;
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.container_grid_PQRSelected_history_title{
    color: #fff;
    text-align: center;
}
.container_grid_PQRSelected_history_user{
    color: #aaa;
    font-weight: bold;
}
.container_grid_PQRSelected_history_comments{
    color: #000;
    background-color: #fff;
    border-radius: 10px;
    padding: 5px 8px;
}
.container_grid_PQRSelected_history_state{
    display: flex;
    background-color: red;
    padding: 3px 5px;
    border-radius: 8px;
    color: #fff;
}
.container_grid_PQRSelected_history_admin{
    display: flex;
    align-items: center;
    justify-content: space-between;
}