
.dia_disponible {
 background-color: #8f8;
 border-radius: 5px;
}
.datePicker_reserved_areaComun_input{
 font-size: 4vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px  ;
    border-radius: 20px;
    border: none;
    outline: none;
    color: black;
    font-weight: 600;
    width: 100%;
}
.datePicker_reserved_areaComun_input{
width: 100%;
    color: #000;
}
.datePicker_reserved_areaComun_calendar .react-datepicker__day {
  width: 2rem;
  height: 2rem;
  line-height: 2rem;
  text-align: center;
  margin: 0.1rem;
  border-radius: 4px;
  font-size: 3vw !important;
  font-weight: bold;
}
.today{
  color: red;
}

