/* Estados del servicio */
.containerServiceMailBox_trueState,
.containerServiceMailBox_falseState {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2px;
    border-radius: 12px;
    font-size: 3.8vw;
    overflow: hidden;
    width: 90%;
}

.containerServiceMailBox_trueState {
    --paymentTrueBack: #afd8b291; 
    --fontPaymentTrue: #9bf0a0;
    background-color: var(--paymentTrueBack);
    color: var(--fontPaymentTrue);
}

.containerServiceMailBox_falseState {
    color: #aaa;
    border: 1px solid #aaa;
}

/* Estado del circulo */
.containerServiceMailBox_statusTrue,
.containerServiceMailBox_statusFalse {
    width: 14px;
    height: 14px;
    border-radius: 100%;
}

.containerServiceMailBox_statusTrue {
    background-color: var(--fontPaymentTrue);
}

.containerServiceMailBox_statusFalse {
    --fontPaymentFalse: #f13;
    background-color: var(--fontPaymentFalse);
}