.container_package{
    display: flex;
    flex-direction: column;
    margin: 10px auto;
}
.container_package_title{
        color: var(--blueVecii);
    font-size: 2em;
    font-weight: bolder;
    margin: .6em auto;
}
.container_package_img{
    width: 30%;
    border-radius: 20px;
    margin: auto;
}
.container_package_info{
    height: 20dvh;
    width: 90%;
    margin: 20px auto;
    display: grid;
    align-content:center;
    grid-template-rows: 35% 35% 30%;
    padding: 30px 20px;
    gap: 0.8em;
}
.container_package_info-date,.container_package_info-precie,.container_package_info-state{
    display: grid;
    grid-template-columns: 60% 40%;
    align-items: center;
    color: #fff;
    font-size: 1.1em;
}
.container_package_info-state{
    font-weight: bolder;
}
.container_package_info-true{
    color:#9bf0a0 ;}
.container_package_info-false{
color:#f13;;
}