.container_quejasReclamos{
    display: flex;
    flex-direction: column;
    background-color: #000;
    width: 100%;
    height: fit-content;
    margin: 20px auto 0 ;

}
.container_quejasReclamos_sectionTitle{
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 2.5vw;
    margin: 0px 20px;
}
.container_quejasReclamos_sectionTitle-line{
    height: 1px;
    width: 40%;
    background-color: #aaa;
}
.container_quejasReclamos_sectionTitle_title{
    padding: 5px 30px;
    border: 1px solid var(--blueVecii);
    font-size: 5vw;
    border-radius: 25px;
    color: var(--blueVecii);
}
.container_quejasReclamos_items{
    width: 100%;
    margin: auto;
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 10px;
    /* background-color: var(--background-componets); */
    padding: 10px 25px;
}

/*Option*/
.container_quejasReclamos_searchBar {
    display: flex;
    justify-content: right;
    height: fit-content;
    width: 90%;
    margin: 10px auto 0;
}
.container_quejasReclamos_searchBar_items{
    display: flex;
    align-items: center;
    height: fit-content;
    gap: 5px;
    padding: 5px 0;
}
.container_quejasReclamos_add {
    border: none;
    font-size: 7vw;
    color: var(--blueVecii);
    background-color: transparent;
    height: fit-content;
    display: flex;
    align-items: center;
}

.container_quejasReclamos_paragraphe{
    font-size: 3.5vw;
    color: #aaa;

}

.grid_quejasReclamos_void {
    width: 100%;
    color: #fff;
    padding: 20px;
    font-size: 5vw;
    text-align: center;
}
