.container_infoUser_patch_info {
    display: grid;
    grid-template-columns:30% 60% 10% ;
    
    width: 100%;
    border-radius: 10px;
    height: fit-content;
  
    align-items: center;
}
.container_infoUser_patch_info input{
    font-size: 3.8vw;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px  ;
    border-radius: 20px;
    border: none;
    outline: none;
    color: #777;
    width: 100%;
    background-color: #fff;
}
.container_infoUser_patch_info input::placeholder{  
    color: #fff;
}
.container_infoUser_patch_label{
    
    color: #fff;
    font-size:4.2vw ;

    text-wrap: balance;
}
.container_infoUser_patch_info input:focus{
    color: #000;
    outline: 1px solid var(--aquaMarineBackground);
}
.container_infoUser_patch_edit{
    font-size:4vw ;
    
    justify-self: flex-end;
    color: var(--aquaMarineBackground);
    background-color: transparent;
    border: none;
}