.container_reserveRegister{
    font-family: mainFont;
    margin: 0px auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    color: #fff;
    height: 50dvh;
}
.container_reserveRegister_title{
    color: var(--blueVecii);
    margin:15px auto ;
}
.container_reserveRegister_form{
    width: 80%;
    margin: auto;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    /* border: 1px solid var(--blueVecii); */
    box-shadow: 0px 0px 8px 6px var(--blueVecii);
    padding: 20px;
    gap: 10px;
}
.container_reserveRegister_form textarea{
    resize: none;
    
}
.container_reserveRegister_form-input{
    border-radius: 8px 8px 0 0;
    outline: none;
    background-color: transparent;
    border: none;
    /* border: 1px solid var(--blueVecii); */
    border-radius: 8px;
    padding: 3px 12px;
    background-color: #fff;
    color: #000;
}
.container_reserveRegister_form-send{
    width: 40%;
    background-color: var(--blueVecii);
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 12px;
    border: none;
    padding: 5px 7px;
    font-weight: bold;
    align-self: center;
}


