.containerGraderResevation{
    color: #aa8;
    display: flex;
    flex-direction: row;
    font-size: .8em;
    white-space: nowrap;  
     overflow: hidden; 
     width: 90%;
     margin: auto;   
     gap: 1px;
     align-items: center;
}
.containerGraderResevation_name{
    white-space: nowrap;  
}
