.container_servicio {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: 20% 50% 30%;
    margin: 2vw auto;
    justify-content: space-between;
    border-radius: 10px;
    padding-right: 2vw;
     aspect-ratio: 5 / 1;
    animation: animationCommunity .3s;

    align-items: center;
    background-color: var(--backgroundBlurComps);
    backdrop-filter: blur(4px);
    min-height: 12vw;
 
}

@keyframes animationCommunity {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    100% {
        scale: 1;
        opacity: 1;
    }
}

.container_servicio_img {
    width: 13vw;
    height: 13vw;
    overflow: hidden;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
    
}

.container_servicio_img img {
    width: 100%;
    object-fit: cover;
    height: 100%;
    display: inline-block;
}

.container_servicio_btn {
    font-size: 4vw;
    color: #fff;
    background-color: transparent;
    border: none;
    width: 90%;
    display: flex;
    align-self: center;
    justify-content: flex-end;
}

.container_servicio_precio,
.container_servicio_description {
    color: #aaa;
    font-size: clamp(12px,4vw,18px);
      overflow: hidden;
    text-overflow: ellipsis;
}   

.container_servicio_info {
    align-self: flex-start;
    
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

.container_servicio_paragraphe {
    color: #fff;

    font-size: clamp(12px,4vw,18px);
    overflow: hidden;
    text-overflow: ellipsis;
}

.container_servicio_info_send {
    width: 100%;
    height: 100%;
    right: 0;
    display: flex;

    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;
    padding: 1vw 0;
}

@media (max-width: 320px) {
    .container_servicio {
        grid-template-columns: 25% 50% 25%;
    }
    .container_servicio_img {
        width: 12vw;
        height: 12vw;
    }
    .container_servicio_paragraphe {
          overflow: hidden;
    text-overflow: ellipsis;
        font-size: 4.5vw;
    }
    .container_servicio_precio {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 4vw;
    }
    .container_servicio_btn {
        font-size: 4.5vw;
    }
}
