.container_catalogo{
    display: grid;
    grid-template-rows: 70% 30%;
    /* border: 1px solid var(--blueVecii); */
    background-color: var(--background-componets);
    height: 15dvh;
    border-radius: 25px;

}
.container_catalogo_img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 25px 25px 0 0;
}   
.container_catalogo_name{
    color: #fff;
    font-weight: bolder;
    text-align: center;
    align-self: center;
}