.container_createService {
  position: fixed;
  top: 0;
  left: 0;
  height: 100dvh;
  width: 100%;
  z-index: 2;
  display: flex;
  animation-fill-mode: forwards;
  background-color: #000e;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.container_createService_form {
  width: 90%;
  height: auto;
  border-radius: 25px;
  border: 1px solid var(--blueVecii);
  animation: animationModal 0.5s;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px 20px;
  position: relative;
}

.container_createService_form_label,
.container_createService_form_input {
  font-size: 4.2vw;
  border-radius: 25px;
}

.container_createService_form_label {
  color: #fff;
}

.container_createService_form_input {
  background-color: var(--background-componets);
  padding: 8px;
  border: none;
  color: #fff;
}

.container_createService_form_input:focus {
  outline: 1px solid var(--blueVecii);
}

.container_createService_form textarea {
  resize: none;
  line-height: 15px;
  field-sizing: content;
  max-height: 100px;
  border-radius: 10px;
}

.container_createService_form_btn {
  border: none;
  background-color: var(--aquaMarineBackground);
  color: #fff;
  font-size: 5vw;
  width: fit-content;
  padding: 8px 15px;
  border-radius: inherit;
  margin: auto;
}

.container_createService_form span {
  font-size: 8vw;
  color: var(--aquaMarineBackground);
  position: absolute;
  right: 0;
  top: 0;
  padding: 20px;
}

@keyframes animationModal {
  0% {
    opacity: 0;
    scale: 0.7;
  }
  100% {
    opacity: 1;
    scale: 1;
  }
}
