.container_shopping{
    width: 100%;
    margin: 10px auto 20px ;
    height: fit-content;
  /* background-color: var(--backgroundBlur); */
  border-radius: 25px 25px 0 0;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 10px;
}
.container_shopping_title{
    color: #fff;
    text-transform: uppercase;
    width: 60%;
    justify-content: center;
    font-size: clamp(18px,4.5vw,26px);
    text-align: center; 
    overflow-wrap: break-word;

    overflow: hidden;
}
.container_shopping_head{
    width: 100%;
    height: clamp(40px,60px,80px);
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

}
.container_shopping_car{
    position: absolute;
    width: clamp(35px,13vw,70px);
    height: clamp(35px,13vw,70px);
    right: 5vw;
}
.container_shopping_stores{
    width: 95%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: auto;
    flex-direction: column;
}
.container_shopping_options{
    width: 100%;
    height: fit-content;
    display: grid;
    grid-template-columns: 48.5% 48.5%;
    flex-direction: column;
    gap: 3%;
    margin: 20px auto 30px;
}
.container_shopping_line{
    background-color: #fff;
    width: 90%;
    margin: 0 auto;
    height: 1px;
}
.container_shopping_logo{
    width: 30%;
    border-radius: 25px;
    
}
.container_shopping_info{
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2vw;
    width: 90%;
}
.container_shopping_contact{
    font-size: clamp(12px,3.5vw,20px);
    color: #aaa;
 
    width: 100%;
    
}
.container_shopping_description{
    font-size:clamp(16px,4.2vw,22px) ;
    color: #fff;
    
}